#header{
    display: flex;
    border-bottom: 2px dashed #888;
    justify-content: space-between;
    bottom-margin:40px;
}
.site-title {
    margin:5px;
    color:lightblue;
}

body {
    max-width:90%;
}

#main-block {
    margin:auto;
    padding-right:30%;
}
#nav-menu {
    padding-top:30%;
    text-align:right;
    padding-right:70px;
}

#nav-menu li {
    margin:30px 0;
}
.puremenuitem.current {
    background-color: #ffffff;
    border: 1px solid #eeeeec;
}
div#footer {
    color: gray;
    text-align: center;
    font-size: small;
}
div#footer a {
    color: gray;
    text-decoration: none;
}
pre {
    border: dotted black 1px;
    background: #eeeeec;
    font-size: small;
    padding: 1em;
}
